<!DOCTYPE html>
<html>
  <head>
    <title>DevmoodProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <% if user_signed_in? && current_user.has_role?(:admin) %>
      <%= link_to 'Create New Music Record', new_music_record_path, class: 'your-button-class' %> |
    <% end %>
    <% if current_user && current_user.has_role?(:user) %>
      <%= link_to 'Cart', cart_path(current_user.cart), class: 'nav-link' %>
    <% end %>

<!--    change logout to button because link works with GET request-->
    <%#= link_to "Logout", destroy_user_session_path, method: :delete, status: :see_other %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'your-button-class' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
